@import 'settings/colors';
@import "settings/spacing";
@import "settings/timings";

.topbar {
  background: $sweetPink;
  color: $saintPatrickBlue;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  min-height: 56px;
  padding: 0 $spacing-sm;
}

.btn {
  align-items: center;
  background: transparent;
  border: 0;
  display: inline-flex;
  height: 10vh;
  justify-content: center;
  margin: 0;
  margin-right: $spacing-sm * -1;
  outline: 0;
  width: 12vh;
}

.menu {
  background: $saintPatrickBlue;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 10vh;
  transition: max-height 0.4s $easeInBack;
  &.open {
    max-height: 90vh;
    transition: max-height 0.4s $easeOutBack;
    li {
      opacity: 1;
    }
  }
  li {
    align-items: center;
    border-bottom: 2px solid $chetwodeBlue;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s $easeInOutQuad;
    &:last-child {
      border-bottom: 2px solid transparent;
    }
  }
  a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
  }
}
