@import "settings/colors";
@import "settings/spacing";
@import "trumps/inputrange";

.group {
  margin-bottom: 2rem;
}

.label {
  font-weight: 500;
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: rgba($saintPatrickBlue, 0.7);
}

.fieldName {
  border: 2px solid $hawkesBlue;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1.7rem;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border: 2px solid rgba($saintPatrickBlue, 0.8);
    outline: 0;
  }
}

.center {
  text-align: center;
}

.short {
  display: inline-block;
  width: 48px;
  text-align: center;
  margin-right: 2px;
}

.radioButton {
  margin: 1rem 0;
}

.slider {
  margin: 2rem 0 3rem;
}

.btn {
  padding: 1rem;
  text-align: center;
}
