@import "settings/colors";
@import "settings/spacing";
@import "settings/timings";
@import "settings/topbar";

.modal {
  background: #fff;
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 50%;
  top: 50%;
  transition: all 0.5s $easeInOutBack;
  z-index: -1;
  transform: translateY(-100vh);
  box-shadow: 0 0 8px rgba(#000, 0.3);
  &.active {
    border-radius: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 2;
    transform: translateY(0);
  }
}

.topbar {
  align-items: center;
  background: $sweetPink;
  color: $saintPatrickBlue;
  display: flex;
  height: $topbar-height;
  justify-content: space-between;
  padding: 0 $spacing-sm;
}

.title {
  margin: 0;
  line-height: 0.9;
}

.close {
}

.content {
  padding: $spacing-sm;
}

.group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
}

.fieldName {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1.7rem;
  padding: 4px 8px;
  width: 100%;
}

.btn {
  padding: 1rem;
  text-align: center;
}
