{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb"],
  "env": { "browser": true },
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "global-require": 0,
    "key-spacing": 0
  }
}
