{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
  ],
  "plugins": [
    "import",
    "react",
    "compat",
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Map",
          "List",
        ]
      }
    ],
    "compat/compat": 2,
  },
  "settings": {
    "compiler": "babel"
  }
}
