# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

#Cache
.eslintcache

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# DS_Store
.DS_Store

#IDE
.idea/

#Tests
/reports

#Builds
dist/
