$sweetPink: #ffa3a2;
$saintPatrickBlue: #223177;
$richBlue: #4f61ab;
$chetwodeBlue: #5b6bb3;
$hawkesBlue: #d1d6ea;
$downRiver: #111d54;
$mystic: rgba(#e3e6f3, 0.7);
$pharlap: #a98585;
$sapphire: #384c9d;
$catskillWhite: #f2f3f9;
$periwinkle: #c9cde1;
