@import "settings/colors";
@import "settings/spacing";

.bar {
  display: flex;
  border-top: 2px solid $hawkesBlue;
  border-bottom: 2px solid $hawkesBlue;
  border-left: 2px solid $hawkesBlue;
}

.item {
  flex: 1;
  text-align: center;
  background: $mystic;
  padding: $spacing-sm $spacing-xs;
  border-right: 2px solid $hawkesBlue;
  transition: background 0.3s;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba($saintPatrickBlue, 0.7);
  &.selected {
    background: $hawkesBlue;
    color: $saintPatrickBlue;
  }
}

.input {
  position: absolute;
  opacity: 0;
}
