@import "settings/colors";

$featuredTaskBtnSize: 40px;

.featuredTask {
  align-items: center;
  background: $saintPatrickBlue;
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: $featuredTaskBtnSize / 3;
  padding-top: $featuredTaskBtnSize / 3;
  position: relative;
  &::after {
    background: $saintPatrickBlue;
    border-radius: 50%;
    color: #fff;
    content: '^';
    display: inline-block;
    font-size: 5rem;
    height: $featuredTaskBtnSize;
    left: 50%;
    margin-left: $featuredTaskBtnSize / -2;
    margin-top: $featuredTaskBtnSize / -3;
    position: absolute;
    text-align: center;
    top: 0;
    width: $featuredTaskBtnSize;
  }
}

.title {
  color: $catskillWhite;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 2px;
}

.time {
  color: $periwinkle;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}
