@import "mixins/fontSmoothing";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body,
input,
textarea,
button {
  @include fontSmoothing;
  font-family: Dosis, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
}
